.idea/
.git/
.circleci
.phpstorm.meta.php
_ide_helper.php

vendor/
node_modules/

public/js/
public/css/
bootstrap/cache/*
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing
storage/framework/views/*
storage/logs/*

readme.md
**.gitignore
**.gitattributes
**.sass-cache
*.env*
*.config.js
?ulpfile.js
?untfile.js
phpunit.xml
phpspec.yml
Dockerfile
docker-compose/