# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      # Specify the version you desire here
      - image: circleci/php:7.3-node-browsers

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # Using the RAM variation mitigates I/O contention
      # for database intensive operations.
      #- image: circleci/mysql:5.7-ram
      #
      #- image: redis:3

    steps:
      - checkout

      - run: sudo apt update && sudo apt install zlib1g-dev libsqlite3-dev
      - run: sudo docker-php-ext-install zip bcmath
      - run: sudo composer self-update

      # Download and cache dependencies

      # composer cache
      - restore_cache:
          keys:
            # "composer.lock" can be used if it is committed to the repo
            - composer-{{ checksum "composer.json" }}
            # fallback to using the latest cache if no exact match is found
            - composer
      - run: composer config --global github-oauth.github.com $GH_TOKEN
      - run: composer install --prefer-dist --optimize-autoloader --no-ansi --no-interaction
      - save_cache:
          key: composer-{{ checksum "composer.json" }}
          paths:
            - vendor

      # node cache
      - restore_cache:
          keys:
            - npm-{{ checksum "package.json" }}
            - npm
      - run: npm install
      - save_cache:
          key: npm-{{ checksum "package.json" }}
          paths:
            - node_modules
            - ~/.yarn

      # prepare the database
      - run: touch storage/testing.sqlite
      - run: php artisan migrate --env=testing --database=sqlite_testing --force

      # setup .env file
      - run: cp .env.example .env
      - run: php artisan key:generate
      - run: php artisan dotenv:set MOLI_BLOG_KEY $MOLI_BLOG_KEY

      # run tests with phpunit or codecept
      - run: ./vendor/bin/phpunit
      # this example uses codecept but you're not limited to it
      #- run: ./vendor/bin/codecept build
      #- run: ./vendor/bin/codecept run --xml result.xml
      #- store_test_results:
      #    path: tests/_output
      #- store_artifacts:
      #    path: tests/_output
